.contact {
  background: url("../img/contact__back.jpg") no-repeat center / cover;
  min-height: 518px;
  padding-top: 145px;
  padding-bottom: 35px;
}

.contact__inner {
  max-width: 850px;
  margin-left: auto;
  margin-right: 120px;
  display: flex;
}

.contact__title {
  font-family: $font2;
  font-weight: bold;
  font-size: 45px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}

.contact__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  max-width: 250px;
}

.contact__form-wrapper {
}

.contact__form {
  width: 100%;
  max-width: 285px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__input {
  border: 2px solid #c2ccd5;
  border-radius: 38px;
  padding: 22.5px 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #a7becb;
  width: 100%;
}

.contact__btn {
  border: none;
  margin-bottom: 30px;
}

.contact__warning {
  text-align: center;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  a {
    display: block;
    color: $color-main;
    text-decoration: underline;
  }
}
